<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="at.fit-com.memberapp" version="1.1.2">
  <name>FITCOM Member APP</name>
  <description>Trainingsplaner für FITCOM Mitglieder</description>
  <author href="http://vincenz.at" email="office@vincenz.at">vincenz APP Team</author>
  <content src="index.html"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="14"/>
  
  <preference name="fullscreen" value="true" />
  <preference name="orientation" value="portrait" />
  
  <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1"/>

  <icon src="logo.png"/>
  <platform name="android">
    <icon src="res/icons/fitcom_36.png" density="ldpi"/>
    <icon src="res/icons/fitcom_48.png" density="mdpi"/>
    <icon src="res/icons/fitcom_72.png" density="hdpi"/>
    <icon src="res/icons/fitcom_96.png" density="xhdpi"/>
    <icon src="res/icons/fitcom_144.png" density="xxhdpi"/>
    <icon src="res/icons/fitcom_192.png" density="xxxhdpi"/>
  </platform>
  <platform name="ios">
    <icon src="res/icons/fitcom_57.png" platform="ios" width="57" height="57"/>
    <icon src="res/icons/fitcom_114.png" platform="ios" width="114" height="114"/>
    <icon src="res/icons/fitcom_40.png" platform="ios" width="40" height="40"/>
    <icon src="res/icons/fitcom_80.png" platform="ios" width="80" height="80"/>
    <icon src="res/icons/fitcom_50.png" platform="ios" width="50" height="50"/>
    <icon src="res/icons/fitcom_100.png" platform="ios" width="100" height="100"/>
    <icon src="res/icons/fitcom_60.png" platform="ios" width="60" height="60"/>
    <icon src="res/icons/fitcom_120.png" platform="ios" width="120" height="120"/>
    <icon src="res/icons/fitcom_180.png" platform="ios" width="180" height="180"/>
    <icon src="res/icons/fitcom_72.png" platform="ios" width="72" height="72"/>
    <icon src="res/icons/fitcom_144.png" platform="ios" width="144" height="144"/>
    <icon src="res/icons/fitcom_76.png" platform="ios" width="76" height="76"/>
    <icon src="res/icons/fitcom_152.png" platform="ios" width="152" height="152"/>
    <icon src="res/icons/fitcom_29.png" platform="ios" width="29" height="29"/>
    <icon src="res/icons/fitcom_58.png" platform="ios" width="58" height="58"/>
    <icon src="res/icons/fitcom_87.png" platform="ios" width="87" height="87"/>
  </platform>
  
  <access origin="http://*" />
  <access origin="https://*" />
  
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>

</widget>