<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="at.fit-com.memberapp" version="1.1.2">
  <name>FITCOM Member APP</name>
  <description>Trainingsplaner für FITCOM Mitglieder</description>
  <author href="http://vincenz.at" email="office@vincenz.at">vincenz APP Team</author>
  <content src="index.html"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="14"/>
  
  <preference name="fullscreen" value="true" />
  <preference name="orientation" value="portrait" />
  
  <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1"/>

  <icon src="logo.png"/>
  <platform name="android">
    <icon src="res/icons/fitcom_36.png" density="ldpi"/>
    <icon src="res/icons/fitcom_48.png" density="mdpi"/>
    <icon src="res/icons/fitcom_72.png" density="hdpi"/>
    <icon src="res/icons/fitcom_96.png" density="xhdpi"/>
    <icon src="res/icons/fitcom_144.png" density="xxhdpi"/>
    <icon src="res/icons/fitcom_192.png" density="xxxhdpi"/>
  </platform>

  
  <access origin="http://*" />
  <access origin="https://*" />
  
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>

</widget>